body {
	margin: 0;
	padding: 0;
  	background: linear-gradient(to bottom, #145D7A 0%,#fcfff4 20%,#dfe5d7 62%,#b3bead 100%);
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
}
#paper {
  content: "Test";
  color: white;
  font-size: 100px;
  background-image: url("https://previews.123rf.com/images/donatas1205/donatas12051505/donatas1205150500022/40592758-Seamless-paper-texture-rough-recycled-cardboard-background-Stock-Photo.jpg");
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}